@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  background-image: none;
}

#roller-header {
  margin-bottom: 15px;
}

#roller-category {
  display: inline-block;
  position: relative;
}

#roller-category h2 {
  color: red !important;
  font-size: 1.8em;
}

#refresher {
  position: relative;
  top: 5px;
  display: inline-block;
  background-image: url(refresh.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 180px;
  width: 40px;
  height: 40px;
}

#roller-content {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  height: 500px;
  overflow: hidden;
}

.output {
  margin-left: 35px;
}

.roller-block {
  padding-bottom: 15px;
}

.roller-row1, .roller-row2 {
  float: left;
  padding-left: 30px;
}

.roller-row2 {
  padding-left: 40px;
}

.lock-container {
    display: block;
    position: relative;
    bottom: 6px;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1.5em;
    font-family: "Inconsolata";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.lock-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.lock-checkmark {
    position: absolute;
    top: 3px;
    left: -35px;
    height: 25px;
    width: 19px;
    background-image: url("unlocked.png");
    background-repeat: no-repeat;
    background-color: #edebe6;
}

/* When the checkbox is checked, change the image */
.lock-container input:checked ~ .lock-checkmark {
    background-image: url("locked.png");
    background-color: red;
}

/* CHECKBOX */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 1.5em;
    font-family: "Inconsolata";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: rgba(178, 165, 167, 0.5);
    border: 2px solid rgba(178, 165, 167, 0.5);
}

/* When the checkbox is checked, change color */
.container input:checked ~ .checkmark {
    background-color: #b2a5a7;
    border: 2px solid #221e1f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    bottom: 1px;
    width: 6px;
    height: 15px;
    border: solid #221e1f;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
